<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#12121a">
	<!-- favicons -->
	
	<meta name="author" content="Travolgi">
	<!-- title page & SEO meta -->
	<title>About Us - Tech Corp: Business Services & IT Solutions HTML5 Website Template</title>
	<meta name="description" content="Our mission is to drive your success through innovative and tailored IT solutions">
	<meta name="keywords" content="team it solution, expert team, about, mission, business, it, it solution, web services, html5 template, it solution template, business services template, website, html template, website template, landing page, responsive, html5 themes, multipurpose template, html, html5, css, template, themes">
	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
	<link rel="stylesheet" href="static/css/css2.css">
	<!-- css -->
	<link rel="stylesheet" href="static/css/aos.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/custom.css">
</head>

<body>
<h1>关于这个网站</h1>
<h2>五三在线官网</h2>
<h2>唐山市雷锋小学五三班官方网站</h2>
<p>唐山市雷锋小学五三班官方网站简称五三在线官网，是一个专门为。 班级服务的网站目前仅支持本班级的服务功能，有学生账号，还有各种的休闲娱乐和资料查询功能，深受家长和同学的喜爱。 目前学生账号还未开放申请，正在内测中。 修改建议，请咨询邮箱。 ysqyyyy@126.com。 </p>
<h3> 网站版本：BATA A 0.1.9</h3>
</body>

</html>