<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#12121a">
	<!-- favicons -->
	
	<meta name="author" content="Travolgi">
	<!-- title page & SEO meta -->
	<title>Tech Corp: Business Services & IT Solutions HTML5 Website Template</title>
	<meta name="description" content="Welcome to Tech Corp, where innovation meets reliability, we are your trusted partner for business services and IT solutions">
	<meta name="keywords" content="business, it, it solution, web services, html5 template, it solution template, business services template, website, html template, website template, landing page, responsive, html5 themes, multipurpose template, html, html5, css, template, themes">
	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
	<link rel="stylesheet" href="static/css/css2.css">
	<!-- css -->
	<link rel="stylesheet" href="static/css/aos.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/custom.css">
</head>

<body>
	<!-- preload -->
	<div id="preload">
		<h1>五三在线</h1>
		<h3>唐山雷小五三班官网</h3>
	</div>

	<!-- header -->
	<header data-aos="zoom-out">
		<div class="container g-2 pbk-1">
			<!-- your logo here -->
			<a href="">
				<h3>五三在线</h3>
			</a>
			<!-- mobile menu button -->
			<button class="nav-toggle" aria-controls="navbar" aria-expanded="false">
				<span class="sr-only">Menu</span>
				<span class="bar1"></span>
				<span class="bar2"></span>
				<span class="bar3"></span>
			</button>
			<!-- navigation links -->
			<nav id="navbar" data-visible="false">
				<ul class="flex g-2">
					<li><a href="">首页</a></li>
					<li><a href='/ab'>关于</a></li>
					<li><a href='/sr'>服务</a></li>
					<li><a class='btn' href='/tp_page'>导航页</a></li>
				</ul>
			</nav>
		</div>
	</header>


	<!-- main page content -->
	<main>
		<!-- hero section -->
		<section id="slider">
			<div class="container">
				<div class="grid gtc-2-1">
					<article>
						<!-- hero text -->
						<h1 data-aos="fade-down">五三在线官网<span class="txt-gradient"></span></h1>
						<h2 class="w-60 fw-400" data-aos="fade-down" data-aos-delay="100">全校最大的班级网站</h2>
						<!-- hero button -->
						<a href="#contact" class="btn" data-aos="fade-up" data-aos-delay="200">印刷服务</a>
					</article>
				</div>
				<!-- hero vantages -->
				<div class="flex space-between g-2">
					<h2 data-aos="zoom-in-left" data-aos-delay="300"><span class="pictogram"></span> 免费学习资料</h2>
					<h2 data-aos="zoom-in-left" data-aos-delay="400"><span class="pictogram"></span> 全校新闻</h2>
					<h2 data-aos="zoom-in-left" data-aos-delay="500"><span class="pictogram"></span> 快速印刷</h2>
				</div>
			</div>
		</section>

		<!-- mission section -->
		<section>
			<!-- navigation anchor item -->
			<span class="sr-only offset-nav" id="mission"></span>
			<div class="container grid g-2">
				<!-- css background image decoration -->
				<div class="print flex" data-aos="fade-down">
					<!-- image -->
					<img src="static/picture/mission.webp" alt="Mission Tech corp template">
				</div>

				<article data-aos="fade-down" data-aos-delay="100">
					<h1>这是<span class="txt-gradient">什么网站</span></h1>
					<p>欢迎来到五三在线，这是唐山市雷锋小学五年级三班的官方网站。 也是本校全年级最大的网站。 这个网站是为学生服务的，我们提供多种服务，例如校园新闻学习资料、查询课程、进度作业通知等。 </p>
					<p class="mb-3"> 我们还提供其他服务如果您在家里没有打印机还不想去打印店的话。 可以把纸和打印墨需要的额外补贴教给我们再把文件或文件U盘给我，我们就会帮你打印。 我们会保证如果在打印中有任何损坏，除非是提供的纸损坏。 不会再要求提供纸。 </p>
					<!-- button -->
					<a class='btn' href='/tp_page'>前往导航页</a>
				</article>
			</div>
		</section>
		
		<!-- navigation anchor item -->
		<span class="sr-only offset-nav"></span>
		<!-- about section -->
		<section class="accent-start">
			<div class="container">
				<h1 class="txt-gradient" data-aos="fade-up">我们提供的服务和内容</h1>
				<!-- benefits list -->
				<div class="flex g-1 space-between mb-4">
					<h2 data-aos="fade-left" data-aos-delay="100"><span class="pictogram-top"></span> 校园新闻</h2>
					<h2 data-aos="fade-left" data-aos-delay="200"><span class="pictogram-top"></span> 班级通知</h2>
					<h2 data-aos="fade-left" data-aos-delay="300"><span class="pictogram-top"></span> 休闲放松</h2>
					<h2 data-aos="fade-left" data-aos-delay="400"><span class="pictogram-top"></span> 印刷</h2>
					<h2 data-aos="fade-left" data-aos-delay="500"><span class="pictogram-top"></span> 存储</h2>
				</div>

				<div class="grid g-2 gtc-1-2-1 mb-4">
					<!-- title -->
					<h2 class="self-start mb-0" data-aos="fade-left">为什么要浏览五三在线。 </h2>
					<!-- center text -->
					<div data-aos="fade-down" data-aos-delay="100">
						<p>如果你是学生，那么你可以知道在学校内的很多事情，以便帮助你的学习和进步。 还有学生账号功能可以查找学习资料。 也可以休闲放松。 是课余生活访问网站的不二之选。 </p>
						<p class="mb-0">如果你是家长，那么你可以通过查看班级通知和校园新闻来知道最新的情况，也可以通过成绩单来查找您的孩子的成绩。 开放家长功能之后，也可以有更多的功能。 </p>
					</div>
					<!-- button -->
					<a class='btn self-end' data-aos-delay='300' data-aos='fade-rigth' href='/tp_page'>转到导航页</a>
				</div>

				<!-- services -->

			</div>
		</section>

		<!-- projects section -->


		<!-- slogan section -->


		<!-- reviews section -->
		
		<!-- navigation anchor item -->
		<span class="sr-only offset-nav" id="contact"></span>
		<!-- contact section -->

	</main>


	<!-- footer -->
	<footer data-aos="fade-up">
		<div class="container">
			<div>
				<!-- your logo here -->
				<h2>五三在线</h2>
				<p>为班级乃至全校提供优质服务</p>
				<p class="mb-3">深受同学喜爱</p>
				<!-- social links -->

			</div>

			<!-- navigation links -->
			<ul>
				<li>
					<h4></h4>
				</li>
				<li>
					<a href=''>首页</a>
				</li>
				<li>
					<a href='about.html'>关于</a>
				</li>
				<li>
					<a href='services.html'>印刷服务</a>
				</li>
				<li>
					<a href='projects.html'>项目</a>
				</li>
				<li>
					<a href='blog.html'>开发博客</a>
				</li>


			</ul>

			<!-- popular post widget -->


			<!-- contact info -->

		</div>
		<!-- copyright -->

	</footer>


	<!-- whats app chat button -->
	<a id="whatsapp-chat" href="#">
		<p>Hi! How can I help you?</p>
		<span class="sr-only">Open WhatsApp</span>
	</a>

	<!-- scroll to top button -->
	<button class="gotop">
		<span class="sr-only">Scroll to top</span>
	</button>

	<!-- you can remove this -->


	<!-- js -->
	<script src="static/js/aos.js"></script>
	<script src="static/js/main.js" defer=""></script>
</body>
</html>