<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>五三在线-导航页</title>
    <link rel="stylesheet" href="static/css/tp_page.css">




<body>
    <header>
        <div class="navbar">
            <img src="/static/image/logos.png" class="photo-left" alt="Logo">
            <a href="/">首页</a>
            <a href="#">新闻</a>
            <a href="/ab">联系我们</a>
            <a href="#">关于我们</a>
        </div>
    </header>

     <div>
         <h1 class="center">五三在线-导航页</h1>
         <h4 class="center">53号导航站</h4>
         <HR>
     </div>
    <div class="container">
             <div class ="side-left">
             <div>
                 <img class = "photo-left" src ="/static/picture/R-C.jpg" alt = "公益广告" width="500" height="280">
                 <div>
                     <p><a href="#">邯郸霸凌事件追踪   HOT🔥</a></p>
                     <p><a href="#">我们要上电视啦！   HOT</a></p>
                     <p><a href="#">关于“五三观察报”重组的通知</a></p>
                     <p><a href="#">红色研学报名开始   新🆕</a></p>
                     <p><a href="#">成绩查询入口</a></p>
                     <p><a href="#">五三在线更换新主页 新🆕</a></p>
                     <p><a href="#">期中考试临近</a></p>
                     <p><a href="#">期中考点汇总      ↑↑↑</a></p>
                 </div>
             </div>
                 <h2>学生帐号内测人员通过名单(1批）</h2>
             <table>
             <tr>
                 <td>等级___________________________________________</td>
                 <td>姓名___________________________________________</td>
             </tr>
             <tr>
                 <td>普通用户1级</td>
                 <td>商宇霖</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>刘佳琦</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>王俊杰</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>阎俊宇</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>张朕瑄</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>刘宇轩</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>高艺航</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>薄皓元</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>李之涵</td>
             </tr>
             <tr>
                 <td>普通用户2级</td>
                 <td>张佳铖</td>
             </tr>
         </table>

         </div>
         <div class="side-right">

             <div class="navbar">
                 <a href="#">互动内容</a>
                 <a href="#">学习资料</a>
                 <a href="#">学生账号</a>
                 <a href="#">校园新闻</a>
                 <a href="#">班级事件</a>
                 <a href="#">休闲放松</a>
             </div>
             <h1>欢迎投稿</h1>
             <h3>文章已乘WEB去，此地空余投稿箱。欢迎投稿哈！</h3>
         </div>
    </div>
</body>
</html>
